/* Icon Font for the application */
@font-face {
    font-family: 'remindify-icons';
    src: url('../fonts/remindify-icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'remindify-icons' !important;
}
